header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px #2323242a;
}

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
    transition: color 0.3s, opacity 0.3s, font-size 0.3s;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}

header button {
    font-size: 1.2rem;
}

header button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

header button.menu {
    display: none;
}

header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.91);
    display: flex;
    justify-content: center;
}

@keyframes modalOpen {
    0% {transform: scale(0);}
    60% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

header .fixed ul.modal {
    animation: modalOpen 0.5s ease forwards;
    width: 85%;
    max-width: 500px;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    height: fit-content;
}

header .fixed ul.modal li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.modal li:last-child {
    border: none;
}

header .fixed ul.modal li a {
    font-size: 1rem;
    display: block;
}

header .fixed ul.modal li:first-child {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 700px) {
    header button.menu {
        display: block;
    }
   
    header.flex nav {
        display: none;
    }
    
    header.flex {
        padding: 0 1.2rem;
    }
}